openapi: 3.1.0
info:
    version: '0.0'
    title: 'Qomon Users API'
    description: "##Welcome to our Users API documentation.

        This is Qomon's API definition.


        To get an authorization go to [Qomon's setting
        page](https://qomon.app/settings/extensions/connect) and create an API
        key.



        ---




        ## User object:

        A user is defined by their personal information:


        ```json

        {

        \  \"firstname\": \"John\",

        \  \"surname\": \"Doe\",

        \  \"mail\": \"john.doe@example.com\",

        \  \"mobile\": \"0123456789\",

        \  \"address\": {

        \    \"housenumber\": \"123\",

        \    \"street\": \"Rue de la paix\",

        \    \"city\": \"Paris\",

        \    \"country\": \"France\"

        \  }

        }

        ```

        And some qomon specific attributes:\ 


        ```

        {

        \  \"role\": [

        \    { \"superadmin\", \"admin\", \"manager\", \"user\", \"custom\" }

        \  ],

        \  \"status\": [

        \    { \"available week-end\", \"available night\" }

        \  ],

        }

        ```

        The space information is retrieved from the token used to authenticate
        the user.


        It is possible to :\ 

        - invite users by email and manage their invitations

        - list users in the current space, edit their informations and remove
        them

        - list all the roles and add a role to a user

        - list, create, update and delete teams (public or not)


        💡 Tips for Using the API:

        - *Roles gestion:*

        Each space has different roles and their corresponding role_id.

        You can retrieve the list of roles by calling the `/roles` endpoint.

        - *Team privacy:*

        Teams can be public or private. Public teams are visible to all users in
        the space, while private teams are only visible to their members."
servers:
    - description: 'Qomon API'
      url: 'https://incoming.qomon.app'
security:
    - bearerAuth: []
tags:
    - name: Invitation
      description: 'Invite users'
    - name: User
      description: 'Manage users'
    - name: Role
      description: 'List roles'
    - name: Team
      description: 'Create, Read, Update and Delete teams'
    - name: Notification
      description: 'Send global messages to teams'
paths:
    /users/invitation:
        post:
            tags: [Invitation]
            summary: 'Invite users by their emails.'
            description: "Send an invitation to the specified mail addresses.

                Each space has different roles and their corresponding role_id.

                If the mail address is already registered, the user will be
                added to the space.

                If the mail address is not registered, the user will be invited
                to join the space.


                💡 Not specifying a role_id will set the role \"user\" by
                default."
            requestBody:
                {
                    required: true,
                    content:
                        {
                            application/json:
                                {
                                    schema:
                                        {
                                            type: object,
                                            required: [data],
                                            properties:
                                                {
                                                    data:
                                                        {
                                                            type: object,
                                                            required: [invitations],
                                                            properties:
                                                                {
                                                                    invitations:
                                                                        {
                                                                            type: array,
                                                                            items:
                                                                                {
                                                                                    required: [email],
                                                                                    properties:
                                                                                        {
                                                                                            email:
                                                                                                {
                                                                                                    type: string,
                                                                                                    format: email,
                                                                                                    description: 'Email to invite.',
                                                                                                    example: example@mail.com,
                                                                                                },
                                                                                            role_id: {type: integer, format: uint, description: 'Role ID.', example: 8},
                                                                                        },
                                                                                },
                                                                        },
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                }
            responses:
                {
                    '201':
                        {
                            description: Created,
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    properties:
                                                        {
                                                            status: {type: string, example: success},
                                                            data:
                                                                {
                                                                    type: object,
                                                                    properties:
                                                                        {
                                                                            msg: {type: string, example: 'invitations created successfully'},
                                                                            invitations:
                                                                                {
                                                                                    type: object,
                                                                                    properties:
                                                                                        {
                                                                                            id: {type: integer, format: uint, example: 101},
                                                                                            group_id: {type: integer, format: uint, example: 101},
                                                                                            email: {type: string, format: email, example: johndoe@mail.com},
                                                                                            mobile_phone: {type: string, example: '0123456789'},
                                                                                            role_id: {type: integer, format: uint, example: 5},
                                                                                            role: {$ref: '#/components/schemas/Role'},
                                                                                            created_at: {type: string, format: date-time, example: '1955-07-06T00:00:00Z'},
                                                                                            last_sent: {type: string, format: date-time, example: '1955-07-06T00:00:00Z'},
                                                                                            user_id: {type: integer, format: uint, nullable: true, example: 2345},
                                                                                        },
                                                                                },
                                                                        },
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '207':
                        {
                            description: 'Multi-Status - Some invitations created successfully',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '400':
                        {
                            description: 'Bad Request - Invalid request data',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '405':
                        {
                            description: 'Method Not Allowed',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '500':
                        {
                            description: 'Internal Server Error',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                }
        get:
            tags: [Invitation]
            summary: 'Retrieve all invitations.'
            description: "Get all invitations in the sender-selected space.

                The list contains both accepted and pending invitations."
            responses:
                {
                    '200':
                        {
                            description: OK,
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    properties:
                                                        {
                                                            status: {type: string, example: success},
                                                            data:
                                                                {
                                                                    type: object,
                                                                    properties:
                                                                        {
                                                                            invitations:
                                                                                {
                                                                                    type: object,
                                                                                    properties:
                                                                                        {
                                                                                            id: {type: integer, format: uint, example: 101},
                                                                                            group_id: {type: integer, format: uint, example: 101},
                                                                                            email: {type: string, format: email, example: johndoe@mail.com},
                                                                                            mobile_phone: {type: string, example: '0123456789'},
                                                                                            role_id: {type: integer, format: uint, example: 5},
                                                                                            role: {$ref: '#/components/schemas/Role'},
                                                                                            created_at: {type: string, format: date-time, example: '1955-07-06T00:00:00Z'},
                                                                                            last_sent: {type: string, format: date-time, example: '1955-07-06T00:00:00Z'},
                                                                                            user_id: {type: integer, format: uint, nullable: true, example: 2345},
                                                                                        },
                                                                                },
                                                                        },
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '500':
                        {
                            description: 'Internal Server Error',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                }
    '/users/invitation/{id}':
        delete:
            tags: [Invitation]
            summary: 'Delete an invitation.'
            description: 'Delete the invitation with the given invitation id.'
            parameters:
                [
                    {
                          name: id,
                          in: path,
                          description: 'user id',
                          required: true,
                          schema: {type: integer, format: uint, example: 111},
                      },
                ]
            responses:
                {
                    '200':
                        {
                            description: OK,
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    properties:
                                                        {
                                                            status: {type: string, example: success},
                                                            data:
                                                                {
                                                                    type: object,
                                                                    properties: {message: {type: string, example: 'Invitation deleted successfully'}},
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '400':
                        {
                            description: 'Bad Request - Invalid invitation ID',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '404':
                        {
                            description: 'Not Found - Invitation does not exist or does not belong to this
                                group',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '405':
                        {
                            description: 'Method Not Allowed',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '500':
                        {
                            description: 'Internal Server Error',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                }
    /users:
        get:
            tags: [User]
            summary: 'Retrieve all users.'
            description: "Returns all users from the sender selected-space.


                💡 Response can be filtered using 3 parameters :\ 

                - *limit* : The maximum number of users to return.

                - *offset* : The starting index for the results (for
                pagination).

                - *sort* : A Boolean value indicating whether the results should
                be sorted in an ascending order (on first name and surname).

                Default value is true."
            parameters:
                [
                    {
                          name: limit,
                          in: query,
                          schema: {type: integer, format: uint, minimum: 1},
                          required: false,
                          description: 'Optional. The maximum number of users to return.',
                          example: 20,
                      },
                    {
                          name: offset,
                          in: query,
                          schema: {type: integer, format: uint, minimum: 0},
                          required: false,
                          description: 'Optional. The starting index for the results (for pagination).',
                          example: 0,
                      },
                    {
                          name: sort,
                          in: query,
                          schema: {type: boolean},
                          required: false,
                          description: 'Optional. Indicates whether the results should be sorted ascending
                              (true) or descending (false) by surname then
                              firstname. Default value is true.',
                          example: true,
                      },
                ]
            responses:
                {
                    '200':
                        {
                            description: OK,
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    properties:
                                                        {
                                                            status: {type: string, example: success},
                                                            data:
                                                                {
                                                                    type: object,
                                                                    properties:
                                                                        {
                                                                            count:
                                                                                {
                                                                                    type: integer,
                                                                                    format: uint,
                                                                                    description: 'Number of users returned.',
                                                                                    example: 100,
                                                                                },
                                                                            teams: {type: string, example: null},
                                                                            users:
                                                                                {
                                                                                    type: array,
                                                                                    items:
                                                                                        {
                                                                                            type: object,
                                                                                            properties:
                                                                                                {
                                                                                                    created_at:
                                                                                                        {
                                                                                                            type: string,
                                                                                                            format: date-time,
                                                                                                            example: '2025-04-23T08:16:26.08912Z',
                                                                                                            description: 'The timestamp when the user was created (ISO 8601 format, UTC).',
                                                                                                        },
                                                                                                    updated_at:
                                                                                                        {
                                                                                                            type: string,
                                                                                                            format: date-time,
                                                                                                            example: '2025-04-30T09:55:59.320084Z',
                                                                                                            description: 'The timestamp when the user was last updated (ISO 8601 format,
                                                                                                                UTC).',
                                                                                                        },
                                                                                                    deleted_at:
                                                                                                        {
                                                                                                            type: string,
                                                                                                            format: date-time,
                                                                                                            example: '2025-04-30T09:55:59.320084Z',
                                                                                                            description: 'The timestamp when the user was soft deleted (ISO 8601 format,
                                                                                                                UTC).',
                                                                                                        },
                                                                                                    address:
                                                                                                        {
                                                                                                            type: string,
                                                                                                            example: '1 rue de la paix',
                                                                                                            description: 'The user''s street address.',
                                                                                                        },
                                                                                                    birthdate:
                                                                                                        {
                                                                                                            type: string,
                                                                                                            format: date-time,
                                                                                                            example: '1999-03-06T23:00:00Z',
                                                                                                            description: 'The user''s birthdate (ISO 8601 format, UTC).',
                                                                                                        },
                                                                                                    city: {type: string, example: Paris, description: 'The user''s city.'},
                                                                                                    created:
                                                                                                        {
                                                                                                            type: string,
                                                                                                            format: date-time,
                                                                                                            example: '2025-04-23T08:16:26.088746Z',
                                                                                                            description: 'Another timestamp indicating creation (ISO 8601 format, UTC).',
                                                                                                        },
                                                                                                    firstname: {type: string, example: John, description: 'The user''s first name.'},
                                                                                                    group_id:
                                                                                                        {
                                                                                                            type: integer,
                                                                                                            format: uint,
                                                                                                            example: 1,
                                                                                                            description: 'The ID of the user''s space.',
                                                                                                        },
                                                                                                    id:
                                                                                                        {
                                                                                                            type: integer,
                                                                                                            format: uint,
                                                                                                            example: 101,
                                                                                                            description: 'The unique identifier for the user.',
                                                                                                        },
                                                                                                    locale: {type: string, example: en, description: 'The user''s locale language.'},
                                                                                                    location:
                                                                                                        {
                                                                                                            type: string,
                                                                                                            example: '1.826483,-1.549486',
                                                                                                            description: 'The user''s geographical coordinates (latitude,longitude as
                                                                                                                string).',
                                                                                                        },
                                                                                                    mail:
                                                                                                        {
                                                                                                            type: string,
                                                                                                            format: email,
                                                                                                            example: test@qomon.com,
                                                                                                            description: 'The user''s email address.',
                                                                                                        },
                                                                                                    phone:
                                                                                                        {
                                                                                                            type: string,
                                                                                                            example: '0123456789',
                                                                                                            description: 'The user''s phone number.',
                                                                                                        },
                                                                                                    postal: {type: string, example: '75000', description: 'The user''s postal code.'},
                                                                                                    role: {type: string, example: user, description: 'The user''s role.'},
                                                                                                    role_data:
                                                                                                        {
                                                                                                            type: object,
                                                                                                            properties:
                                                                                                                {
                                                                                                                    id:
                                                                                                                        {
                                                                                                                            type: integer,
                                                                                                                            format: uint,
                                                                                                                            example: 5,
                                                                                                                            description: 'The ID of the role data.',
                                                                                                                        },
                                                                                                                    name: {type: string, example: user, description: 'The name of the user''s role.'},
                                                                                                                    order:
                                                                                                                        {
                                                                                                                            type: integer,
                                                                                                                            format: uint,
                                                                                                                            example: 1,
                                                                                                                            description: 'The order of the role.',
                                                                                                                        },
                                                                                                                    type: {type: string, example: user, description: 'The type of the user''s role.'},
                                                                                                                },
                                                                                                            description: 'Detailed data about the user''s role.',
                                                                                                        },
                                                                                                    selected_group_id:
                                                                                                        {
                                                                                                            type: array,
                                                                                                            items: {type: integer, format: uint},
                                                                                                            example: [1],
                                                                                                            description: 'A list of selected space IDs for the user.',
                                                                                                        },
                                                                                                    surname: {type: string, example: DohnJoe, description: 'The user''s surname'},
                                                                                                },
                                                                                        },
                                                                                },
                                                                        },
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '404':
                        {
                            description: 'Not Found - No users found',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '500':
                        {
                            description: 'Internal Server Error',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                }
    '/users/{id}':
        get:
            tags: [User]
            summary: 'Get a user''s information.'
            description: 'Retrieve the user with the given ID.'
            parameters:
                [
                    {
                          name: id,
                          in: path,
                          description: 'user id',
                          required: true,
                          schema: {type: integer, format: uint, example: 111},
                      },
                ]
            responses:
                {
                    '200':
                        {
                            description: OK,
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    properties:
                                                        {
                                                            status: {type: string, example: success},
                                                            data:
                                                                {
                                                                    type: object,
                                                                    properties:
                                                                        {
                                                                            User:
                                                                                {
                                                                                    type: object,
                                                                                    properties:
                                                                                        {
                                                                                            created_at:
                                                                                                {
                                                                                                    type: string,
                                                                                                    format: date-time,
                                                                                                    example: '2025-04-23T08:16:26.08912Z',
                                                                                                    description: 'The timestamp when the user was created (ISO 8601 format, UTC).',
                                                                                                },
                                                                                            updated_at:
                                                                                                {
                                                                                                    type: string,
                                                                                                    format: date-time,
                                                                                                    example: '2025-04-30T09:55:59.320084Z',
                                                                                                    description: 'The timestamp when the user was last updated (ISO 8601 format,
                                                                                                        UTC).',
                                                                                                },
                                                                                            deleted_at:
                                                                                                {
                                                                                                    type: string,
                                                                                                    format: date-time,
                                                                                                    example: '2025-04-30T09:55:59.320084Z',
                                                                                                    description: 'The timestamp when the user was soft deleted (ISO 8601 format,
                                                                                                        UTC).',
                                                                                                },
                                                                                            address:
                                                                                                {
                                                                                                    type: string,
                                                                                                    example: '1 rue de la paix',
                                                                                                    description: 'The user''s street address.',
                                                                                                },
                                                                                            birthdate:
                                                                                                {
                                                                                                    type: string,
                                                                                                    format: date-time,
                                                                                                    example: '1999-03-06T23:00:00Z',
                                                                                                    description: 'The user''s birthdate (ISO 8601 format, UTC).',
                                                                                                },
                                                                                            city: {type: string, example: Paris, description: 'The user''s city.'},
                                                                                            created:
                                                                                                {
                                                                                                    type: string,
                                                                                                    format: date-time,
                                                                                                    example: '2025-04-23T08:16:26.088746Z',
                                                                                                    description: 'Another timestamp indicating creation (ISO 8601 format, UTC).',
                                                                                                },
                                                                                            firstname: {type: string, example: John, description: 'The user''s first name.'},
                                                                                            group_id:
                                                                                                {
                                                                                                    type: integer,
                                                                                                    format: uint,
                                                                                                    example: 1,
                                                                                                    description: 'The ID of the user''s space.',
                                                                                                },
                                                                                            id:
                                                                                                {
                                                                                                    type: integer,
                                                                                                    format: uint,
                                                                                                    example: 101,
                                                                                                    description: 'The unique identifier for the user.',
                                                                                                },
                                                                                            locale: {type: string, example: en, description: 'The user''s locale language.'},
                                                                                            location:
                                                                                                {
                                                                                                    type: string,
                                                                                                    example: '1.826483,-1.549486',
                                                                                                    description: 'The user''s geographical coordinates (latitude,longitude as
                                                                                                        string).',
                                                                                                },
                                                                                            mail:
                                                                                                {
                                                                                                    type: string,
                                                                                                    format: email,
                                                                                                    example: test@qomon.com,
                                                                                                    description: 'The user''s email address.',
                                                                                                },
                                                                                            phone:
                                                                                                {
                                                                                                    type: string,
                                                                                                    example: '0123456789',
                                                                                                    description: 'The user''s phone number.',
                                                                                                },
                                                                                            postal: {type: string, example: '75000', description: 'The user''s postal code.'},
                                                                                            role: {type: string, example: user, description: 'The user''s role.'},
                                                                                            role_data:
                                                                                                {
                                                                                                    type: object,
                                                                                                    properties:
                                                                                                        {
                                                                                                            id:
                                                                                                                {
                                                                                                                    type: integer,
                                                                                                                    format: uint,
                                                                                                                    example: 5,
                                                                                                                    description: 'The ID of the role data.',
                                                                                                                },
                                                                                                            name: {type: string, example: user, description: 'The name of the user''s role.'},
                                                                                                            order:
                                                                                                                {
                                                                                                                    type: integer,
                                                                                                                    format: uint,
                                                                                                                    example: 1,
                                                                                                                    description: 'The order of the role.',
                                                                                                                },
                                                                                                            type: {type: string, example: user, description: 'The type of the user''s role.'},
                                                                                                        },
                                                                                                    description: 'Detailed data about the user''s role.',
                                                                                                },
                                                                                            selected_group_id:
                                                                                                {
                                                                                                    type: array,
                                                                                                    items: {type: integer, format: uint},
                                                                                                    example: [1],
                                                                                                    description: 'A list of selected space IDs for the user.',
                                                                                                },
                                                                                            surname: {type: string, example: DohnJoe, description: 'The user''s surname'},
                                                                                        },
                                                                                },
                                                                        },
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '400':
                        {
                            description: 'Bad Request - Invalid user ID',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '403':
                        {
                            description: 'Forbidden - Missing permissions or invalid group ID',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '404':
                        {
                            description: 'Not Found - User does not exist',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '500':
                        {
                            description: 'Internal Server Error',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                }
        patch:
            tags: [User]
            summary: 'Update a user with the given informations.'
            description: "Update provided fields for the user with the corresponding ID.

                No errors are authorized in the user's email address.

                The user's email address is mandatory.


                💡 To change the selected_group_id it is mandatory to set
                UpdateToken at true."
            parameters:
                [
                    {
                          name: id,
                          in: path,
                          description: 'user id',
                          required: true,
                          schema: {type: integer, format: uint, example: 111},
                      },
                ]
            requestBody:
                {
                    description: 'The new values of the user.',
                    required: true,
                    content:
                        {
                            application/json:
                                {
                                    schema:
                                        {
                                            required: [data],
                                            type: object,
                                            properties:
                                                {
                                                    data:
                                                        {
                                                            type: object,
                                                            properties:
                                                                {
                                                                    mail: {type: string, format: email, description: 'The email address of the user.'},
                                                                    surname: {type: string, example: DohnJoe, description: 'The user''s surname.'},
                                                                    firstname: {type: string, example: John, description: 'The user''s first name.'},
                                                                    phone:
                                                                        {
                                                                            type: string,
                                                                            example: '0123456789',
                                                                            description: 'The user''s phone number.',
                                                                        },
                                                                    address:
                                                                        {
                                                                            type: string,
                                                                            example: '1 rue de la paix',
                                                                            description: 'The user''s street address.',
                                                                        },
                                                                    city: {type: string, example: Paris, description: 'The user''s city.'},
                                                                    postal: {type: string, example: '75000', description: 'The user''s postal code.'},
                                                                    location:
                                                                        {
                                                                            type: string,
                                                                            example: '1.826483,-1.549486',
                                                                            description: 'The user''s geographical coordinates (latitude,longitude as
                                                                                string).',
                                                                        },
                                                                    avatar: {type: string, format: uri, example: 'http://example.com/image.png'},
                                                                    birthdate:
                                                                        {
                                                                            type: string,
                                                                            format: date-time,
                                                                            example: '1999-03-06T23:00:00Z',
                                                                            description: 'The user''s birthdate (ISO 8601 format, UTC).',
                                                                        },
                                                                },
                                                            required: [mail],
                                                        },
                                                },
                                        },
                                },
                        },
                }
            responses:
                {
                    '200':
                        {
                            description: OK,
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    properties:
                                                        {
                                                            status: {type: string, example: success},
                                                            data: {type: string, example: 'Successfully updated'},
                                                        },
                                                },
                                        },
                                },
                        },
                    '400':
                        {
                            description: 'Bad Request - Invalid user ID or email not provided',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '401':
                        {
                            description: 'Unauthorized - You are not authorized to update this user',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '404':
                        {
                            description: 'Not Found - User does not exist',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                    '500':
                        {
                            description: 'Internal Server Error',
                            content:
                                {
                                    application/json:
                                        {
                                            schema:
                                                {
                                                    type: object,
                                                    description: "Client-side validation failure envelope returned with HTTP 4xx
                                                        when the

                                                        request payload is
                                                        malformed
                                                        (missing/invalid fields,
                                                        bad JSON, …).",
                                                    properties:
                                                        {
                                                            status:
                                                                {
                                                                    type: string,
                                                                    example: fail,
                                                                    description: 'Indicates the operation status.',
                                                                },
                                                            data:
                                                                {
                                                                    type: object,
                                                                    description: 'Map of validation errors, keyed by offending field name.',
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
[...]
